@import url("https://fonts.googleapis.com/css?family=Lora:400,400i,700");
html, body{
    background: #c8d2e6;
    color: #black;
    height: 0;
  min-height: 100vh;
  margin: 0;
  font-family: Lora, sans-serif;
}               /* header основной страницы */
#header{
    width: auto;
    position: absolute;
    display: flex;
    top: -3%;
    right: 2px;
}
nav{
    height: 100px;

}
nav ul{
    position:relative;
    margin-top: 30px;
}
nav li{
    list-style: none;
    float: right;
    margin: 10px;
}
#header:after{
    content:"";
    clear:both;
    display:block
}
nav li a{
    text-decoration: none;
    color: #8282bf;
    font-size: 22px;
    border-radius: 10px;
    border-bottom: 1px solid white;
}
/* выход на главную страницу */

#home{
    width: auto;
    position: relative;
    display: flex;
    top: -3%;
    right: 2px;
    justify-content: flex-end;
}

li.home{
    list-style: none;
    float: right;
    margin: 10px;
}



section{            /* формы html логина и регистрации */
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;

}
.form-box{
  padding-bottom: 10px;
  position: relative;
  width: 400px;
  height: 500px;
  background: transparent;
  border: 2px solid black;
  border-radius: 20px;
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
}
section h2{
  font-size: 2em;
  color: #8282bf;
  text-align: center;
}
.inputbox{
  position: relative;
  margin: 30px 0;
  width: 310px;
  border-bottom: 2px solid #fff;
}

.inputbox label{
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color: #8282bf;
  font-size: 1em;
  pointer-events: none;
  transition: .5s;
}
input:focus ~ label,
input:valid ~ label{
  top: -5px;
}

.inputbox input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  padding: 0 35px 0 5px;
  color: #fff;

}
.inputbox ion-icon{
  position: absolute;
  right: 8px;
  color: #8282bf;
  font-size: 1.2em;
  top: 20px;
}

.forget{
  margin: -15px 0 15px;
  font-size: 0.9em;
  color: #8282bf;
  display: flex;
  justify-content: center;
}
.btn_log{
  width: 100%;
  height: 40px;
  border-radius: 40px;
  background: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
}
.register{
  font-size: 0.9em;
  color: #8282bf;
  text-align: center;
  margin: 25px 0 10px;
}
.register a{
  text-decoration: none;
  color: #8282bf;
  font-weight: 600;
  border-bottom: 1px solid #8282bf;
}
.register a:hover{
  text-decoration: underline;       /* конец формы логина и регистрации */

}

span a{
    text-decoration: none;
    color: #a0522d;
    font-style: italic;
}

.home_body{
    margin: 20px 6% 0 50px;
}
.elem{
    display: flex;
    justify-content: center;
    margin-bottom:  20px;
}
h1 span{
    text-decoration: none;
    color: #a0522d;
}
.table{
    max-width: 600px;
}
.table th {
    box-shadow: -5px -4px 4px #8282bf;
    border-radius: 3px;
    align-content: center;
}
.table td{
    text-align: center;
    font-weight: 600;
    font-size: 17px;
}
/*.enter_div  button{
height: 35px;
  width: 200px;
  background: black;
  font-weight: 700;
  padding: .5em 2em;
  border: 1px solid white;
  border-radius: 10px;
  transition: 0.2s;
  margin: 50px 200px 0 0;
  color: black;
}
.enter_div  button:hover { background: #a0522d; }
.enter_div a{
    text-decoration: none;
    color: white;*/
}
.details{
    height:70px;
    width: 200px;
}
 /* тут скрытая панелька */
/*
.navbar {
    display: none;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    margin: 0;
}

.tri-poloski {
    height: 40px;
}

.dropdown-content {
    border-radius: 5px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}
@media only screen and (max-width: 980px){
    .navbar{
        display: block;
    }
    .navigation{
        display: none;
    }
}
*/

.main{
    background: white;
    border-radius: 10px;
    min-height: 100%;
    margin: 15px;
    opacity: 0.8;
}
h1{
    color: black;
}

                /* css для нового превью */

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;

}
p {
  margin: 0;
}
#burger-toggle {
  position: absolute;
  appearance: none;
  opacity: 0;
}
#burger-toggle:checked ~ .menu {
  opacity: 1;
  visibility: visible;
}
#burger-toggle:checked ~ .menu .menu-nav-link span div, #burger-toggle:checked ~ .menu img, #burger-toggle:checked ~ .menu .title p {
  transform: translateY(0);
  transition: 1.2s 0.1s cubic-bezier(0.35, 0, 0.07, 1);
}
#burger-toggle:checked ~ .menu .image-link:nth-child(1) img {
  transition-delay: 0.18s;
}
#burger-toggle:checked ~ .menu .image-link:nth-child(2) img {
  transition-delay: 0.26s;
}
#burger-toggle:checked ~ .menu .image-link:nth-child(3) img {
  transition-delay: 0.34s;
}
#burger-toggle:checked ~ .menu .image-link:nth-child(4) img {
  transition-delay: 0.42s;
}
#burger-toggle:checked ~ .burger-menu .line::after {
  transform: translateX(0);
}
#burger-toggle:checked ~ .burger-menu .line:nth-child(1) {
  transform: translateY(calc(var(--burger-menu-radius) / 5)) rotate(45deg);
}
#burger-toggle:checked ~ .burger-menu .line:nth-child(2) {
  transform: scaleX(0);
}
#burger-toggle:checked ~ .burger-menu .line:nth-child(3) {
  transform: translateY(calc(var(--burger-menu-radius) / -5)) rotate(-45deg);
}
.burger-menu {
  --burger-menu-radius: 4em;
  position: fixed;
  top: 5vh;
  left: 5vw;
  z-index: 100;
  display: block;
  width: var(--burger-menu-radius);
  height: var(--burger-menu-radius);
  outline: none;
  cursor: pointer;
}
.burger-menu .line {
  position: absolute;
  left: 25%;
  width: 50%;
  height: 3px;
  background: #8282bf;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.5s;
}
.burger-menu .line:nth-child(1) {
  top: 30%;
}
.burger-menu .line:nth-child(2) {
  top: 50%;
}
.burger-menu .line:nth-child(3) {
  top: 70%;
}
.burger-menu .line::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--primary-color-darker);
  transform: translateX(-100%);
  transition: 0.25s;
}
.burger-menu .line:nth-child(2)::after {
  transition-delay: 0.1s;
}
.burger-menu .line:nth-child(3)::after {
  transition-delay: 0.2s;
}
.burger-menu:hover .line::after {
  transform: translateX(0);
}
.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1a1e23;
  opacity: 0;
  overflow-x: hidden;
  visibility: hidden;
  transition: 0.3s;
}
@media screen and (max-width: 750px) {
  .menu {
    display: flex;
  }
}
.menu-nav {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
}
@media screen and (max-width: 750px) {
  .menu-nav {
    flex-direction: column;
  }
}
.menu-nav-item {
  flex: 1;
}
.menu-nav-link {
  position: relative;
  display: inline-flex;
  font-size: 2rem;
  color: white;
  text-decoration: none;
}
.menu-nav-link span {
  overflow: hidden;
}
.menu-nav-link span div {
  transform: translateY(102%);
}
.menu-nav-link::after {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  width: 100%;
  height: 3px;
  background: var(--primary-color);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}
.menu-nav-link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
.menu .gallery {
  margin-top: 60px;
  text-align: center;
}
.menu .title {
  font-size: 24px;
  color: white;
  overflow: hidden;
}
.menu .title p {
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  transform: translateY(102%);
}
.menu .images {
  margin-top: 36px;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 750px) {
  .menu .images {
    justify-content: center;
  }
}
.menu .images .image-link {
  width: 15vw;
  margin: 0 12px;
  overflow: hidden;
}
@media screen and (max-width: 750px) {
  .menu .images .image-link {
    width: 40vw;
    margin: 0 12px 12px 0;
  }
}
.menu .images .image-link .image {
  position: relative;
  transition: 0.6s;
}
.menu .images .image-link .image::before {
  position: absolute;
  content: attr(data-label);
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: white;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: 0.4s;
}
.menu .images .image-link:hover .image {
  transform: scale(1.2);
}
.menu .images .image-link:hover .image::before {
  opacity: 1;
}
.menu .images img {
  height: 250px;
  transform: translateY(102%);
}

/* css карточек услуг */
.card-img-top{
    height: 200px;
    border-radius: 5px;
    width: 17rem;
    margin: 8px;
}
.card:hover {
    transform: scale(1.1);
    transition: 0.6s;
}
.card{
    margin: 10px;
    border: 2px solid #8282bf;
    border-radius: 5px;
}
.card-body {
    max-width: 18rem;
    min-width: 18rem;
    border-radius: 5px;
}
.card-title{
    text-align: center;
}
.btn-primary{
    text-align: center;
}
.btn-success{
    background: #8282bf;
    padding: 5px;
    margin: 5px;
    border: none;
    border-radius: 3px;
}
.for_div{
    display: flex;
    justify-content: center;
}
.btn-success:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}



