<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{title}}</title>
    <link href="../static/css/static.css" rel="stylesheet" type="text/css">
    <link href="">
</head>
<body>
    <div id="header">
        <nav>
            <div class="navbar">
                <div class="dropdown">
                    <button class="dropbtn" onclick="myFunction()"> <p>шухляд</p>
                    </button>
                    <div class="dropdown-content" id="myDropdown">
                        <a href="/home"> Глaвная страница </a>
                        <a href="/examples"> Примеры работ </a>
                        <a href="/services"> Заказать услугу</a>
                    </div>
                </div>
            </div>
            <ul class="navigation">
                <li>
                    <a href="/home"> Глaвная страница </a>
                </li>
                <li>
                    <a href="/examples"> Примеры работ </a>
                </li>
                <li>
                    <a href="/services"> Заказать услугу</a>
                </li>
            </ul>
            <ul>
                {% if not current_user.is_authenticated %}
                <li class="autorisation">
                    <a href="/reg">Регистрация</a>
                </li>
                <li>
                    <a href="/log"> Логин </a>
                </li>
                {% else %}
                <li class="autorisation">
                    <a href="/logout"> Выход </a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
    <main>
        {% block services_block %}
        {% endblock %}
    </main>

    <script>
/* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(e) {
  if (!e.target.matches('.dropbtn')) {
    var myDropdown = document.getElementById("myDropdown");
      if (myDropdown.classList.contains('show')) {
        myDropdown.classList.remove('show');
      }
  }
}

    </script>
</body>
</html>