<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{title}}</title>
    <link href="../static/css/static.css" rel="stylesheet" type="text/css">

</head>
<body>
<div class="body">
    <input type="checkbox" id="burger-toggle">
    <label for="burger-toggle" class="burger-menu">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </label>
    <div id="header">
        <nav>
            <ul>
                {% if not current_user.is_authenticated %}
                <li class="autorisation">
                    <a href="/reg">Регистрация</a>
                </li>
                <li>
                    <a href="/log"> Логин </a>
                </li>
                {% else %}
                <li class="autorisation">
                    <a href="/logout"> Выход </a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
    {% block pattern_block %}
    {% endblock %}
    {% block serv_block %}
    {% endblock %}
    {% block info_block %}
    {% endblock %}
    {% block services_block %}
    {% endblock %}
    <div class="menu">
        <div class="menu-inner">
            <ul class="menu-nav">
                <li class="menu-nav-item"><a class="menu-nav-link" href="/"><span>
            <div>Главная</div>
          </span></a></li>
                <li class="menu-nav-item"><a class="menu-nav-link" href="/info"><span>
            <div>О нас</div>
          </span></a></li>
                <li class="menu-nav-item"><a class="menu-nav-link" href="/serv"><span>
            <div>Услуги</div>
          </span></a></li>
                <li class="menu-nav-item"><a class="menu-nav-link" href="/examples"><span>
            <div> Примеры работ </div>
          </span></a></li>
            </ul>
            <div class="gallery">
                <div class="title">
                    <p>Sora Gallery</p>
                </div>
                <div class="images">
                    <a class="image-link" href="#">
                        <div class="image" data-label="Star"><img
                                src="https://i.loli.net/2019/11/23/cnKl1Ykd5rZCVwm.jpg" alt=""></div>
                    </a>
                    <a class="image-link" href="#">
                        <div class="image" data-label="Sun"><img src="https://i.loli.net/2019/11/16/FLnzi5Kq4tkRZSm.jpg"
                                                                 alt=""></div>
                    </a>
                    <a class="image-link" href="#">
                        <div class="image" data-label="Tree"><img
                                src="https://i.loli.net/2019/10/18/uXF1Kx7lzELB6wf.jpg" alt=""></div>
                    </a>
                    <a class="image-link" href="#">
                        <div class="image" data-label="Sky"><img src="https://i.loli.net/2019/10/18/buDT4YS6zUMfHst.jpg"
                                                                 alt=""></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<main>
    <div class="main">
    </div>
</main>

<script>
feather.replace()
//https://twitter.com/One_div

/* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(e) {
  if (!e.target.matches('.dropbtn')) {
    var myDropdown = document.getElementById("myDropdown");
      if (myDropdown.classList.contains('show')) {
        myDropdown.classList.remove('show');
      }
  }
}



</script>
</body>
</html>