<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link href="../static/css/static.css" rel="stylesheet" type="text/css">
</head>
<main>
  <header class="header">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="#" class="nav-link px-2 text-secondary"><img src="" alt="logotype"></a></li>
          <li><a href="#" class="nav-link px-2 text-white">Главная страница</a></li>
          <li><a href="#" class="nav-link px-2 text-white"> Виды услуг </a></li>
          <li><a href="#" class="nav-link px-2 text-white">Примеры работ</a></li>
          <li><a href="#" class="nav-link px-2 text-white">О нас</a></li>
        </ul>

        <div class="text-end">
          <button type="button" class="btn btn-outline-light me-2">Log-in</button>
          <button type="button" class="btn btn-warning">Sign-up</button>
        </div>
      </div>
    </div>
  </header>
</main>
</html>