{% extends 'about.html' %}
{% block pattern_block %}
<div class="home_body">
        <div class="elem">
            <h2> Компания <span><a href="/home"> БУМ</a></span></h2>
        </div>
        <div class="elem">
            <h1>
                Выполним ваши услуги <span> быстро </span> и <span> качественно </span>
            </h1>
        </div>
        <div class="elem">
            <table class="table">
                <tr>
                    <th><h3> 01</h3></th>
                    <th><h3> 02</h3></th>
                    <th><h3> 03</h3></th>
                </tr>
                <tr>
                    <td>Написание и верстка сайта с нуля</td>
                    <td> Фотосъёмка Вашего мероприятия </td>
                    <td> Написание базы данных и корректировка сайта</td>
                </tr>
            </table>
        </div>

    </div>
{% endblock %}