{% extends 'about.html' %}
{% block pattern_block %}
<div class="info">
    <div class="home_body">
        <div class="elem">
            <h2> Компания <span><a href="/home"> БУМ</a></span></h2>
        </div>
        <div class="elem">
            <h1>
                Выполним ваши услуги <span> быстро </span> и <span> качественно </span>
            </h1>
        </div>
        <div class="elem">
            <table class="table">
                <tr>
                    <th><h3> 01</h3></th>
                    <th><h3> 02</h3></th>
                    <th><h3> 03</h3></th>
                </tr>
                <tr>
                    <td>Написание и верстка сайта с нуля</td>
                    <td> Фотосъёмка Вашего мероприятия</td>
                    <td> Написание базы данных и корректировка сайта</td>
                </tr>
            </table>
        </div>

    </div>
</div>
<h2 class="tit"> преимущества работы с нами </h2>
<ul class="dbl-border">
    <li><h2> работа в быстрые сроки</h2></li>
    <li><h2> легко догавариваемся с клиентом</h2></li>
    <li><h2> используем модный и удобный дизайн </h2></li>
    <li><h2> молодые специалисты </h2></li>
    <li><h2> приятное общение с клиентом ;) </h2></li>
</ul>
<div class="photo">
    <h2> Чем мы занимаемся? <br><br> Мы - профессиональная команда Айти специалистов, которые создают сайты и занимаемся
        веб разработкой, а именно: верстание страниц <span> любой сложности</span>, написание базы данных и сложных
        функций под ваши желания </h2>
    <img src="https://catherineasquithgallery.com/uploads/posts/2021-02/1613282175_15-p-sinii-fon-na-noutbuke-18.jpg"
         alt="photo"/>
    <h2 class="none"> Чем мы занимаемся? <br><br> Мы - профессиональная команда Айти специалистов, которые создают сайты и занимаемся
        веб разработкой, а именно: верстание страниц <span> любой сложности</span>, написание базы данных и сложных
        функций под ваши желания </h2>

</div>

<div class="photo">
    <img src="https://klike.net/uploads/posts/2022-12/1670132329_9-1.jpg" alt="photo"/>
    <h2 class="block"> Также член нашей команды, а именно Лакербая Милена, занимается профессиональной фотосъёмкой
        <span> мероприятий</span>
        - сделайте ваш праздник незабываемым, красиво оформленные фото и видео будут вам напоминать об этом прекрасном
        мероприятии <br><br>
        <span> Личная фотоссесия </span> проводится в оборудованной студии, мы сможем подчеркнуть ваши лучшие черты и
        запечатлить
        их в фотографии </h2>
</div>

<div class="br"></div>
<h2 class="contact"> Наши контакты </h2>
<div class="contacts">
    <h2>Андреев Иван (Frontend разработчик) <br>
        <div>
            <a href="https://t.me/Impuryy"><img src="https://www.svgrepo.com/show/354443/telegram.svg"></a>
        </div>
    </h2>
    <h2> Попов Михаил (Backend разработчик) <br>
        <div>
            <a href="https://t.me/KEYBODY65"><img src="https://www.svgrepo.com/show/354443/telegram.svg"></a>
        </div>
    </h2>

    <h2>Лакербая Милена (Фотограф и Видеограф) <br>
        <div>
            <a href="https://t.me/milky_79"><img src="https://www.svgrepo.com/show/354443/telegram.svg"></a>
        </div>
    </h2>
</div>

{% endblock %}