{% extends 'home.html' %}
{% block registration_block %}
    <div class="registration-cssave">
    <form method="post" class="r">
    <h3 class="text-center"> Внесение данных</h3>
    <div class="form-group">
        <input class="form-control item" type="email" name="idi" id="idi" placeholder="почта" required>
    </div>
    <div class="form-group">
        <input class="form-control item" type="password" name="temperature"  minlength="8" id="temperature" placeholder="пароль" required>
    </div>
        <input type="submit" value="нажми сука">

    </form>
</div>
{% endblock %}