<html>

<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>replit</title>
  <link href="../static/css/static.css" rel="stylesheet" type="text/css" />
</head>
<div id="header">
    <div class="logo">
     </div>
    <nav>
      <ul>
        <li>
          <a href="/home"> Глaвная страница </a>
        </li>
      </ul>
    </nav>
</div>
<body>

  <section>
    <div class='form-box'>
      <div class='form-value'>
        <form action=''>
          <h2> Зарегистрироваться </h2>
            <div class='inputbox'>
            <input type='text' name="surname" required>
            <label for=''> Фамилия </label>
          </div>
            <div class='inputbox'>
            <input type='text' name="name" required>
            <label for=''> Имя </label>
          </div>
          <div class='inputbox'>
            <ion-icon name = 'mail-outline'></ion-icon>
            <input type='email' name="email" required>
            <label for=''> Почта </label>
          </div>
          <div class='inputbox'>
            <ion-icon name = 'lock-closed-outline'></ion-icon>
            <input type='password' name="password" required>
            <label for=''> Пароль </label>
          </div>
          <div class='forget'>
            <label for=''><input type="checkbox" required> Запомнить меня </label>
          </div>
          <button class="btn_log"> Зарегистрироваться </button>
          <div class = 'register'> Не Зарегистрированы? <a href='/log'> Войти </a>
          </div>
        </form>
      </div>
    </div>
  </section>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>